.icon-slider:before {
	content: "\e910";
}
.icon-image:before {
	content: "\e900";
}
.icon-left:before {
	content: "\e901";
}
.icon-less:before {
	content: "\e902";
}
.icon-list:before {
	content: "\e903";
}
.icon-more:before {
	content: "\e904";
}
.icon-move:before {
	content: "\e905";
}
.icon-ok:before {
	content: "\e906";
}
.icon-projects:before {
	content: "\e907";
}
.icon-right:before {
	content: "\e908";
}
.icon-share:before {
	content: "\e909";
}
.icon-sign-in:before {
	content: "\e90a";
}
.icon-slider-1:before {
	content: "\e90b";
}
.icon-slider-2:before {
	content: "\e90c";
}
.icon-slider-3:before {
	content: "\e90d";
}
.icon-up:before {
	content: "\e90e";
}
.icon-upload:before {
	content: "\e90f";
}
.icon-video:before {
	content: "\e912";
}
.icon-add-section:before {
	content: "\e913";
}
.icon-change:before {
	content: "\e914";
}
.icon-close:before {
	content: "\e915";
}
.icon-down:before {
	content: "\e916";
}
.icon-grid:before {
	content: "\e917";
}